Git Ignore

.vertx
.gradle
.idea

# Package Files
*.jar
*.war
*.ear

# IntelliJ
*.iml
.idea/*
!.idea/codeStyleSettings.xml

# Generated Sources
target
*/out
/build
*/gwtweb/
target/MANIFEST.MF
out/*

# Mac OS X
*.DS_STORE

# NPM
node_modules


/local.properties
.DS_Store
/captures
/*.class